In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [82]:
# Task 1
customer_data = pd.read_csv("../resources/final/Customer_Info.csv")
sales_data = pd.read_csv("../resources/final/Sales_Info.csv")

In [83]:
# Task 2
# EDA on Customer Data
print(customer_data.head())
print()
print("Description Of Customer Data")
print(customer_data.describe())
print()
print("Information Of Customer Data")
print(customer_data.info())
print()
missing_values = customer_data.isnull().sum()
print(f"Missing Values: \n{missing_values}")
print()
# finding duplicate values
duplicate_values = customer_data.duplicated().sum()
print(f"Duplicate Values: {duplicate_values}")

   Customer_ID  Age Gender     Marital Status     Occupation  Monthly Income  \
0        16244   20      M             Single        Student               0
1        14688   18      M             Single        Student               1
2        13873   16      F             Single            NaN               1
3        13728   45      M  Prefer not to say       Employee               4
4        16771   58      F             Single  Self Employed               2

       Education              Location
0      Undergrad       Peoria-Illinois
1      Undergrad           Boise-Idaho
2    High School  Springfield-Illinois
3  Post Graduate           Boise-Idaho
4  Post Graduate    Fargo-North Dakota

Description Of Customer Data
        Customer_ID         Age  Monthly Income
count    403.000000  403.000000      403.000000
mean   15325.258065   39.047146        2.131514
std     1754.896474   14.755563        1.506231
min    12350.000000   15.000000        0.000000
25%    13821.500000   26.000000        1.000000
50%    15235.000000   39.000000        2.000000
75%    16996.000000   51.000000        3.000000
max    18250.000000   65.000000        4.000000

Information Of Customer Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer_ID     403 non-null    int64
 1   Age             403 non-null    int64
 2   Gender          403 non-null    object
 3   Marital Status  403 non-null    object
 4   Occupation      392 non-null    object
 5   Monthly Income  403 non-null    int64
 6   Education       351 non-null    object
 7   Location        403 non-null    object
dtypes: int64(3), object(5)
memory usage: 25.3+ KB
None

Missing Values:
Customer_ID        0
Age                0
Gender             0
Marital Status     0
Occupation        11
Monthly Income     0
Education         52
Location           0
dtype: int64

Duplicate Values: 15

In [84]:
# Task 2
# EDA on Sales Data
print(sales_data.head())
print()
print("Description Of Sales Data")
print(sales_data.describe())
print()
print("Information Of Sales Data")
print(sales_data.info())
print()
missing_values = customer_data.isnull().sum()
print(f"Missing Values: \n{missing_values}")
print()
# finding duplicate values
duplicate_values = sales_data.duplicated().sum()
print(f"Duplicate Values: {duplicate_values}")

   Customer_ID                                Product_Description  \
0        17372       Nest Learning Thermostat 3rd Gen-USA - White
1        17456  Google Men's 100% Cotton Short Sleeve Hero Tee...
2        15527             Nest Cam Outdoor Security Camera - USA
3        14606           Google 17oz Stainless Steel Sport Bottle
4        14413                                  YouTube Twill Cap

  Product_Category Quantity Unit_Price Delivery_Charges   Coupon  \
0         Nest-USA        1      149.0              6.0      NaN
1          Apparel        2      16.99              6.0      NaN
2         Nest-USA        1      119.0              6.0      NaN
3        Drinkware        1      16.79              6.0  EXTRA30
4          Apparel        5      10.99            19.99      NaN

   Discount_Rate
0            NaN
1           10.0
2           10.0
3           30.0
4           20.0

Description Of Sales Data
        Customer_ID  Discount_Rate
count   4587.000000    3191.000000
mean   15294.903205      19.921655
std     1758.925353       8.072563
min    12347.000000      10.000000
25%    13798.000000      10.000000
50%    15288.000000      20.000000
75%    16907.000000      30.000000
max    18283.000000      30.000000

Information Of Sales Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4587 entries, 0 to 4586
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer_ID          4587 non-null   int64
 1   Product_Description  4587 non-null   object
 2   Product_Category     4587 non-null   object
 3   Quantity             4572 non-null   object
 4   Unit_Price           4575 non-null   object
 5   Delivery_Charges     4567 non-null   object
 6   Coupon               1585 non-null   object
 7   Discount_Rate        3191 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 286.8+ KB
None

Missing Values:
Customer_ID        0
Age                0
Gender             0
Marital Status     0
Occupation        11
Monthly Income     0
Education         52
Location           0
dtype: int64

Duplicate Values: 47

In [85]:
# task 3 Sentinel values
customer_data.replace(["?", " "], np.nan, inplace=True)
sales_data.replace(["?", " "], np.nan, inplace=True)

In [86]:
mask = sales_data.isnull()

sales_data["Quantity"] = sales_data[~mask]["Quantity"].astype(float)
sales_data["Unit_Price"] = sales_data[~mask]["Unit_Price"].astype(float)
sales_data["Delivery_Charges"] = sales_data[~mask]["Delivery_Charges"].astype(float)
sales_data["Discount_Rate"] = sales_data[~mask]["Discount_Rate"].astype(float)

In [87]:
#task 4
customer_data = customer_data.drop_duplicates(subset=["Customer_ID"])
# finding duplicate values
duplicate_values = customer_data.duplicated().sum()
print(f"Duplicate Values: {duplicate_values}")

Duplicate Values: 0

In [88]:
# Task 5.1
missing_percent = (customer_data.isnull().sum() / len(customer_data)) * 100
print("Before")
print(missing_percent)
missing_percent.to_dict()
for row, val in missing_percent.to_dict().items():
    print(val)
    if val > 20:
        customer_data = customer_data.dropna()
        break

# customer_data = customer_data.drop(columns=missing_percent[missing_percent > 10].index)
print("After")
print(missing_percent)


# fill missing
customer_data["Occupation"] = customer_data["Occupation"].fillna(
    customer_data["Occupation"].mode()[0]
)
missing_percent = (customer_data.isnull().sum() / len(customer_data)) * 100
print(missing_percent)

Before
Customer_ID        0.000000
Age                0.000000
Gender             0.000000
Marital Status     0.000000
Occupation         3.865979
Monthly Income     0.000000
Education         24.484536
Location           0.000000
dtype: float64
0.0
0.0
0.0
0.0
3.865979381443299
0.0
24.484536082474225
After
Customer_ID        0.000000
Age                0.000000
Gender             0.000000
Marital Status     0.000000
Occupation         3.865979
Monthly Income     0.000000
Education         24.484536
Location           0.000000
dtype: float64
Customer_ID       0.0
Age               0.0
Gender            0.0
Marital Status    0.0
Occupation        0.0
Monthly Income    0.0
Education         0.0
Location          0.0
dtype: float64

In [90]:
# sales data
missing_percent = (sales_data.isnull().sum() / len(sales_data)) * 100
print(missing_percent)

# fill missing
sales_data["Quantity"] = sales_data["Quantity"].fillna(1)
sales_data["Unit_Price"] = sales_data["Unit_Price"].fillna(sales_data.groupby('Product_Category')['Unit_Price'].transform('mean'))
sales_data["Delivery_Charges"] = sales_data["Delivery_Charges"].fillna(
    sales_data.groupby('Product_Category')['Delivery_Charges'].transform('mean')
)
missing_percent = (sales_data.isnull().sum() / len(sales_data)) * 100

print(missing_percent)

Customer_ID             0.000000
Product_Description     0.000000
Product_Category        0.000000
Quantity                0.000000
Unit_Price              0.000000
Delivery_Charges        0.000000
Coupon                 65.445825
Discount_Rate          30.433835
dtype: float64
Customer_ID             0.000000
Product_Description     0.000000
Product_Category        0.000000
Quantity                0.000000
Unit_Price              0.000000
Delivery_Charges        0.000000
Coupon                 65.445825
Discount_Rate          30.433835
dtype: float64

In [92]:
#Task 6
master_table = pd.merge(customer_data, sales_data, on="Customer_ID", how="inner")
# print(master_table.head())

master_table.to_csv("../resources/final/Merged_Data.csv")